body {
	background-color: #bdcfd1;
	background-image: url("step1-setting.png");
}



.title {
  text-align: center;
  padding-top: 450px;
  padding-bottom: 250px;
  padding-right: 600px;
  padding-left:600px;
}

p {

  padding-top: 250px;
  padding-bottom: 450px;
  padding-right: 600px;
  padding-left:600px;
	text-align: center;
  font-size: 80px;

}

.text {
  text-align: center;
}

.video {
	text-align: center;
}

video {
  /*height: 500px;*/
  min-width: 60%;
  padding-top: 300px;
  padding-bottom: 300px;
  align-content: center;
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
    padding-top: 300px;
    padding-bottom: 3d00px;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
