body {
  background-color: #bdcfd1;
}

h1 {
	color: black;
  padding-top: 50px;
  padding-bottom: 0px;
  padding-right: 600px;
  padding-left:50px;
}

p {
  padding-top: 50px;
  padding-bottom: 450px;
  padding-right: 600px;
  padding-left:50px;
}



video {
  /*height: 500px;*/
  min-width: 70%;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
